{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 50,
	"plugins": [
		"prettier-plugin-svelte",
		"prettier-plugin-tailwindcss"
	],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	],
	"tailwindStylesheet": "./src/app.css",
	"bracketSameLine": true,
	"endOfLine": "lf",
	"semi": false,
	"quoteProps": "as-needed",
	"arrowParens": "always",
	"embeddedLanguageFormatting": "auto",
	"ignorePath": ".prettierignore"
}
